@font-face {
  font-family: 'Gilroy-Regular';
  src: url('font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-light';
  src: url('font/Gilroy-UltraLight.ttf');
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('font/Gilroy-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Gilroy-light';
}

.main {
  height: 768px;
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  background-image: url('img/bacground.png');
}

.conteiner {
  z-index: 1;
}

.slide__nav {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.slide__text-wrap {
  padding-left: 50px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .slide__text-wrap {
    padding-left: 0px;
  }
}

.text-wrap__greetings {
  font-size: 40px; /*примерный размер!!*/
  font-family: 'Gilroy-Regular';
}

.text {
  font-size: 140px; /*размер неверный, нет шрифтов*/
  text-align: start;
  line-height: 80%;
  font-weight: 50;
}

@media (max-width: 1024px) {
  .text {
    font-size: calc(16vw - 20px);
  }
}

.text--bold {
  font-family: 'Gilroy-bold';
}

.added {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.added__text {
  margin-right: 50px;
}

@media (max-width: 770px) {
  .added__text {
    margin-right: 0px;
  }
}

@media (max-width: 900px) {
  .added__pointer-wrap {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}

.next-btn__pointer {
  width: 250px;
  height: 70px;
}

.slide__brand {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50px;
}

.back-img {
  z-index: 0;
  position: absolute;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
  50% {
    transform: translate(-0.5cm, -0.5cm) scale(0.8, 0.8) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}

@keyframes move-right {
  0% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
  50% {
    transform: translate(1cm, 0.6cm) scale(0.8, 0.8) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}

.bact1 {
  width: 200px;
  bottom: -50px;
  right: 100px;
  animation: move 7s infinite;
}

.pink-bacti {
  top: 170px;
  right: 100px;
  width: 500px;
}

.smal-blue {
  width: 60px;
  top: 170px;
  right: 110px;
  animation: move 7s infinite;
}

.blue1 {
  width: 50px;
  top: 70px;
  right: 200px;
  animation: move-right 7s infinite;
}

.blue-shadow {
  top: 30px;
  right: 40px;
  width: 50px;
}

.blue-shadow-small {
  bottom: 50px;
  right: 400px;
  width: 50px;
}

.pink-shadow {
  bottom: 0px;
  left: -100px;
  width: 300px;
}

.blue2 {
  width: 50px;
  bottom: 150px;
  left: 20px;
  animation: move-right 7s infinite;
}

.long-bacti {
  width: 200px;
  left: -90px;
  top: 50px;
}
