@font-face {
  font-family: 'Gilroy-light';
  src: url('font/Gilroy-UltraLight.ttf');
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('font/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-reg';
  src: url('font/Gilroy-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Gilroy-light';
}

.main {
  height: 768px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  background-image: url('img/bacground.png');
}

.conteiner {
  z-index: 1;
}

.slide__nav {
  width: 150px;
  margin-top: 25px;
  margin-left: 70px;
}

.slide__text-wrap {
  padding-left: 70px;
  max-width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  .slide__text-wrap {
    padding-left: 0px;
  }
}

.slide__greetings {
  font-size: 35px;
  font-family: 'Gilroy-light';
}

.text {
  font-size: 115px;
  text-align: start;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .text {
    font-size: calc(16vw - 30px);
  }
}

.text--bold {
  font-family: 'Gilroy-bold';
}

.added {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .added__pointer-wrap {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}

.next-btn__pointer {
  width: 290px;
  height: 80px;
  margin-left: 50px;
}

.slide__brand {
  margin-left: 70px;
  margin-bottom: 15px;
  width: 55px;
}

.back-img {
  z-index: 0;
  position: absolute;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
  50% {
    transform: translate(-0.5cm, -0.5cm) scale(0.8, 0.8) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}

@keyframes move-right {
  0% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
  50% {
    transform: translate(1cm, 0.6cm) scale(0.8, 0.8) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}

.bact1 {
  width: 230px;
  bottom: -90px;
  right: 250px;
  animation: move 7s infinite;
}

.pink-bacti {
  top: 170px;
  right: 90px;
  width: 500px;
  z-index: 2;
}

@media (max-width: 1025px) {
  .pink-bacti {
    z-index: 0;
  }
}

.smal-blue {
  width: 110px;
  top: 200px;
  right: 50px;
  animation: move 7s infinite;
}

.blue1 {
  width: 60px;
  top: 60px;
  right: 210px;
  animation: move-right 7s infinite;
}

.blue-shadow {
  top: 30px;
  right: 40px;
  width: 50px;
}

.blue-shadow-small {
  bottom: 50px;
  right: 400px;
  width: 50px;
}

.pink-shadow {
  bottom: 0px;
  left: -100px;
  width: 300px;
}

.blue2 {
  width: 80px;
  bottom: 190px;
  left: 20px;
  animation: move-right 7s infinite;
}

.long-bacti {
  width: 200px;
  left: -80px;
  top: 80px;
}
